<div class="mt-4">
    <h3>EDIT TOYS</h3>
    <form method="POST" action="/toys/{{toy._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" value="{{toy.name}}" id="name" name="name">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" value="{{toy.description}}" id="description" name="description">
        </div>

        <div class="form-group">
            <label for="detailDes">Detail Description</label>
            <input type="text" class="form-control" value="{{toy.detailDes}}" id="detailDes" name="detailDes">
        </div>

        <div class="form-group">
            <label for="image">Image URL</label>
            <input type="text" class="form-control" value="{{toy.image}}" id="image" name="image">
        </div>
        
        <div class="mt-4 d-grid gap-2">
            <button type="submit" class="btn btn-success" type="button">SAVE</button>
        </div>
    </form>
</div>